
h2{
  flex-direction: row;
}

.completo{
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.ultimas{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.grid{
  border: left radius 200px;
}

.ver{
  justify-content: end;
  justify-items: end;
}
.contenedor3{
  padding-top: 40px;
}
.contenedor2{
  padding-left: 100px;
}
.itm{
  margin: 50px;
}
